body{
    background-color: #fff9f5;
}

#home_button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ae1d1d;
    color: #fff9f5;
    text-decoration: none;
}

.navbar{
    background-color: #ae1d1d !important;
}

.nav-link{
color: #fff9f5 !important;
margin-right: 20px;
}

#title{
    color: #fff9f5 !important;
    margin-left: 10px;
    margin-bottom: 1px;
    text-align: left;
}


#home{
    max-width: 50%;
    height: auto;
    margin-left: 10px;
}

#hpage1{
    max-width: 40%;
    height: auto;
}

#logo{
    max-width: 10%;
    height: auto;
}

#sp{
    max-width: 10%;
    height: auto;
    margin: 5px;
}

.footer{
    color: #fff9f5;
    background-color: #ae1d1d;
}

.row{
    padding-top: 15px;
}

#more-button{
    color: #ae1d1d;
}

#favorite-button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ae1d1d;
    color: #fff9f5;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 3px;
}

#adopta-button{
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #ae1d1d;
    color: #fff9f5;
    text-decoration: none;
    padding-top: 2px;
    padding-bottom: 3px;
}

.card-img-top{
    max-height: 190px;
    max-width: 300px;
    min-height: 150px;
}

.card{
    background-color: #fff9f5;
}


.carousel-item{
    height: 25rem;
    background-color:#4e3c2c;
    padding-right: 10%;
}


.carousel-caption{
    text-align: left;
    font-size: medium;
    color: #ffff;
}


@media (max-width: 768px) {
    .carousel-item img
        { 
            opacity: 35%;
        }
    .carousel-item{
        padding-right: 0%;
        }
}