body{
background-color: #fff9f5;
}

#home_button{
border: none;
outline: none;
border-radius: 5px;
background-color: #ae1d1d;
color: #fff9f5;
text-decoration: none;
}

.navbar{
background-color: #ae1d1d !important;
}

.nav-link{
color: #fff9f5 !important;
margin-right: 20px;
}

#title{
color: #fff9f5 !important;
margin-left: 10px;
margin-bottom: 1px;
text-align: left;
}


#home{
    max-width: 50%;
    height: auto;
    margin-left: 10px;
}

#logo{
    max-width: 10%;
    height: auto;
}

#sp{
    max-width: 10%;
    height: auto;
    margin: 5px;
}

.footer{
color: #fff9f5;
background-color: #ae1d1d;
}

.row{
padding-top: 2%;
padding-bottom: 2%;
}